@import "tailwindcss";

/* :root {
  --background: #EEE2FE;
  --foreground: #EEE2FE;
}

@theme inline {
  --color-background: #EEE2FE;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EEE2FE;
    --foreground: #000000;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nextjs-toolbar {
  display: none !important;
}

.mainCss {
  display: flex;
  justify-content: center;
  flex: auto;
}

.custom-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}